.App {
  width: 100vw;
  height: 100vh;

  display: flex;
}

.preview-container {
  width: 75%;
}
.config-container {
  width: 25%;
  padding: 20px 10px;
}
.input-wrapper {
  margin-bottom: 35px;
}
.input-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-title-wrapper span:first-child {
  font-weight: bold;
}
.input-control {
  padding: 5px 15px;
}
.input-control input {
  width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}